.hidden {
  display: none;
}

/* CARDS */
.roompage-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 10%;
  
}

.room-card {
  width: 300px;
  padding: 1.2rem;
  text-align: center;
  box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 2rem 3rem;
  background-color: #fdfdfd;
}

.room-card-name {
  font-family: "Italiana", serif;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.room-card-pricing {
  padding: 0 0 1rem 0;
}

/* ROOM DETAILS */
.roomdetails-container {
  padding: 3rem 3rem 4.5rem 3rem;
}

.roomdetail-name {
  font-family: "Italiana", serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* .roomdetails-container:after{
    content : "";
    position: absolute;
    left    : 15%;
    bottom  : 0;
    width   : 70%; 
    border-bottom:1px solid black;
}
 */
