.roomdetail-container {
  padding:  0 3rem 3rem 3rem;
}

.roomdetail-characteristics-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
}

.roomdetail-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.roomdetail-characteristics-item {
  font-size: 1.4rem;
  padding: 16px;
}

.roomdetail-characteristics-item-child {
  font-size: 1rem;
  padding: 16px;
}

.roomdetail-characteristics-item-info {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 3px 0 8px;
}

.roomdetail-description {
  font-size: 1.2rem;
  padding: 15px 0;
}

.roomdetail-pricing {
  font-size: 1.1rem;
  padding: 15px 0 0 0;
}

.roomdetail-btn{
  margin-top:10px;
}

@media screen and (max-width: 768px) {
  .roomdetail-characteristics-container {
    flex-direction: column;
    margin-top: 40px;
  }

  .roomdetail-characteristics {
    margin: 0;
  }

  .roomdetail-characteristics-item {
    padding: 10px;
  }

  .roomdetail-characteristics-item-child {
    padding: 10px;
  }

}
