@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.room-img {
  max-height: 500px;
}

.arrows-room {
  font-size: 30px;
  margin: 0 20px;
}

.roomdetail__slide img {
  margin: 0 auto;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 8px;
  margin-top:8px;
}

/* IMAGE SLIDER */

.rooms-slider{
  padding-bottom: 1rem;
  padding: 60px 0;
}

.slide img {
  margin : 0 auto;
}

.slide {
  transform: scale(0.6); 
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover{
  color:black;
}

.next {
  right: 0%;
  top: 50%
}

.prev {
  left: 0%;
  top: 50%
}

@media screen and (max-width: 1395px) {
  .arrows-room {
    font-size: 25px;
    margin: 0 -40px;
  }

}

@media screen and (max-width: 1020px) {
  .arrows-room {
    font-size: 20px;
    margin: 0 -30px;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px;
    line-height: 0;
  }

  .arrows-room {
    display: none;
  }
}
