.hidden {
  display: none;
}

/* CARDS */

.room-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px;
}

.room-characteristics-item {
  font-size: 1.1rem;
}

.room-characteristics-item-info {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0 3px 0 2px;
  margin-bottom: 5px;
}

.child {
  font-size: 0.9rem;
  position: relative;
  bottom: -3px;
}

.roompage__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.roomcard {
  width: 300px;
  padding: 1.2rem;
  text-align: center;
  box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 2rem 3rem;
  background-color: #fdfdfd;
}

.roomcard__name {
  font-family: "Italiana", serif;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}

.roomcard__pricing {
  padding: 0 0 1rem 0;
}

/* ROOM DETAILS */

.roomdetails__container {
  padding: 0 12%;
}

.roomdetails__container:after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 1;
  width: 70%;
  border-bottom: 1px solid black;
}

.roompage__heading {
  margin-bottom: 20px;
}
