* {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

section{
  margin: 20px auto;
}

.app{
  background-image: url("../public/images/0-background_paper_40p.webp");
}

.heading {
  font-size: 2em;
  font-family: "Italiana", serif;
  letter-spacing: 1.2px;
  line-height: 1.1;
  font-weight: 600;
  color: var(--primary);
}

.heading--medium {
  font-size: 2em;
}

.heading--nano {
  font-size: 1.3em;
}

.heading--small {
  font-size: 1.5em;
}

.undertitle {
  font-size: 1.3rem;
}

.text {
  font-size: 1.1rem;
  margin: 15px 0;
}

.heading-rule {
  width: 30%;
  margin: 30px auto;
}

.page {
  padding: 80px 0 0 0;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  min-height:55vh
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media screen and (max-width: 1250px) {
  .heading {
    font-size: 2em;
  }

  .heading--medium {
    font-size: 1.8em;
  }

  .heading--small {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 15px 0 0 0;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
  .heading {
    font-size: 1.5em;
  }


}
