
.directions__container {
display:flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.directions__item {
    max-width: 300px;
    margin: 30px 10px;
}

.directions__description{
    margin: 20px;
}

.directions__map{
    margin: 20px;
}