
  
  .roomdetail-characteristics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    margin-top: 40px;
    /*Margin bottom does not apply, not sure why, in chrome it works*/
  }
  
  .roomdetail-characteristics-item {
    font-size: 1.4rem;
  }
  
  .roomdetail-characteristics-item-child {
    font-size: 1rem;
  }
  
  .roomdetail-characteristics-item-info {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 3px 0 8px;
  }
  
  .roomdetail-description {
    font-size: 1.2rem;
    padding: 15px 0;
  }
  
  .roomdetail-pricing {
    font-size: 1.1rem;
    padding: 15px 0 0 0;
  }
  
  .roomdetail-btn{
    position: absolute;
    right: 15%;
    /* Not responsive !! haha */ 
  }