.location-page {
    padding: 80px 0 0 0;
    max-width: 80%;
    text-align: center;
    margin: 0 auto
}

.location-container {
display:flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.location-item {
    max-width: 300px;
    margin: 30px 10px;
}

.location-description{
    margin: 20px;
}