:root {
  --primary: #242424;
  --secondary: #fff;
  --select: #555555;
}

.article__container {
  margin: 45px 30px;
}

.article__row {
  display: flex;
  flex-direction: row;
}

.article__row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.article__col {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__text-wrapper {
  display: flex;
  flex-direction: column;
}

.article__heading {
  margin: 20px 35px;
  font-size: 1.6em;
}

.article__text {
  margin: 20px 35px;
}

.article__img-wrapper {
  max-width: 550px;
  margin: auto;
}

img {
  border: none;
  max-width: 100%;
}

@media screen and (max-width: 1250px) {
  .article__heading {
    font-size: 1.4em;
  }

  .article__col {
    width: 100%;
  }

  .article__img-wrapper {
    max-width: 1000px;
  }
}

@media screen and (max-width: 960px) {

  .article__container {
    margin: 0px 30px;
  }

  .article__row {
    flex-direction: column;
  }
  
  .article__row-reverse {
    flex-direction: column;
  }
}
