:root {
  --primary: #242424;
  --secondary: #fff;
  --select: #555555;
}

.article__container {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 50px;
}

.row {
  margin: 0 -15px -15px -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: stretch; */
}

.article__row {
  align-items: center;
}

.col {
  margin-bottom: 15px;
  padding: 0 15px;
  flex: 1;
  /* max-width: 50%;
  flex-basis: 50%; */
}

.article__text-wrapper {
  max-width: 540px;
  padding: 0 0 60px 0;
}

.article__text {
  max-width: 90%;
  /* margin: 0 0 35px 0; */
  margin: 15px auto;
  font-size: 18px;
  line-height: 24px;
}

.article__img-wrapper {
  max-width: 555px;
}

img {
  border: 0;
  max-width: 95%;
  padding: 15px;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
  .article__container {
    padding: 0 15px;
  }

  .article__text{
    font-size: 1.1em;
  }

  .article__row {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .article__container {
    width: 100%;
    max-width: 1300px;
    margin: 2rem auto;
    padding: 0 20px;
  }

  .article__text{
    font-size: 1em;
  }

  .article__text-wrapper {
    padding: 0 0 40px 0;
  }

  .col {
    max-width: 80%;
    flex-basis: 100%;
  }

  .row {
    justify-content: center;
  }
}
