* {
  margin: 0;
  /* padding: 0; */
  font-family: 'Jost', sans-serif;
}

body{
  background-image: url("../public/images/0 - background_paper_40p.jpg");
  /* background-repeat:no-repeat;
  background-size: cover; */
}