.hidden {
  display: none;
}

/* CARDS */
.roompage-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5% 10%;
}

.room-card {
  width: 300px;
  padding: 1.2rem;
  text-align: center;
  /* border: 1px solid black; */
  box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 2rem 3rem;
  background-color: #fdfdfd;
}

.room-card-name {
  font-family: "Italiana", serif;
  font-size: 1.5rem;
  text-align: center;
}

.room-card-pricing {
  padding: 0 0 1rem 0;
}

.room-card-btn {

}

/* ROOM DETAILS */

.roomdetails-container {
  padding: 5% 12%;
}

.roomdetails-container:after{
    content : "";
    position: absolute;
    left    : 15%;
    bottom  : 0;
    width   : 70%;  /* or 100px */
    border-bottom:1px solid black;
}

/* TEXT STYLING */
.roomdetail-name {
  font-family: "Italiana", serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.roomdetail-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px;
}

.roomdetail-characteristics-item {
  font-size: 1.4rem;
}

.roomdetail-characteristics-item-child {
  font-size: 1rem;
}

.roomdetail-characteristics-item-info {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 3px 0 8px;
}

.roomdetail-description {
  font-size: 1.2rem;
  padding: 15px 0;
}

.roomdetail-pricing {
  font-size: 1.1rem;
  padding: 15px 0 0 0;
}
