@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


.rooms-slider{
    padding-bottom: 1rem;
    /* padding: 60px 0; */
}

.room-img {
    max-height: 500px;
}

.arrows-room{
    font-size: 30px;
}

